@model IEnumerable<GraceSail.Models.Member>

@{
    ViewData["Title"] = "Memeber List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <p>
        @TempData["errorMesg"]<br />
        <a asp-action="Create">Create New</a>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <!--Add MemberId and Remove all other fields --Grace -->
                       @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MemberId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
